<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="{:U('login/login')}" method="post">
    <p style="margin-left: 100px; "><h3>登录</h3></p>
    <p style="margin-top: 20px">用户名：<input type="text" name="username"/></p><br/>
    <p>密 码：<input type="password" name="pwd"/></p><br/>
    <p style="margin-left: 180px"><input type="submit" value="登录"/></p>
    </p>

</form>
</body>
</html>