<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">

    <title>订单管理</title>

    <link href="/Public/Home/css/admin.css" rel="stylesheet" type="text/css">
    <link href="/Public/Home/css/amazeuipc.css" rel="stylesheet" type="text/css">
    <link href="/Public/Home/css/b_page.css" rel="stylesheet" type="text/css">
    <link href="/Public/Home/css/personal.css" rel="stylesheet" type="text/css">
    <link href="/Public/Home/css/orstyle.css" rel="stylesheet" type="text/css">

    <script src="/Public/Home/js/jquery.min.js"></script>
    <script src="/Public/Home/js/amazeui.js"></script>

</head>

<body>
<!--头 -->
<include file="Home@Public/header"/>

<div class="center">
    <div class="col-main">
        <div class="main-wrap">
            <div class="user-order">

                <!--标题 -->
                <div class="am-cf am-padding">
                    <div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">我的预约</strong> /
                        <small>Order</small>
                    </div>
                </div>
                <hr/>
                <div class="am-tabs am-tabs-d2 am-margin" data-am-tabs>

                    <div class="am-tabs-bd">
                        <div class="am-tab-panel am-fade am-in am-active" id="tab1">
                            <div class="order-top">
                                <div class="th th-item" style="width: 70%;">
                                    <td class="td-inner">商品</td>
                                </div>
                                <div class="th th-status" style="width: 30%;">
                                    <td class="td-inner">预约码</td>
                                </div>
                            </div>

                            <div class="order-main">
                                <div class="order-list">
                                    <!--交易成功-->
                                    <volist name="redeem_code" id="val">
                                    <div class="order-status5">
                                        <div class="order-title">
                                            <span>预约时间：{$val.update_time|substr=###,0,10}</span>
                                        </div>
                                        <div class="order-content clearfix" style="border: 1px solid #E4EAEE;">
                                            <div class="order-left" style="width: 70%;border:none;float: left;">

                                                <ul class="item-list">
                                                    <li class="td td-item" style="width: 100%;">
                                                        <div class="item-pic" style="margin-top: 0;">
                                                            <a href="#" class="J_MakePoint">
                                                                <img src="{$val.thumb}"
                                                                     class="itempic J_ItemImg">
                                                            </a>
                                                        </div>
                                                        <div class="item-info">
                                                            <div class="item-basic-info" style="padding-top: 0;">
                                                                <a href="#">
                                                                    <p>{$val.title} </p>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="order-right"
                                                 style="width: 30%; float: right;text-align: center;">
                                                <div class="am-btn am-btn-danger anniu" style="display: inline; " >
                                                  {$val.code}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </volist>
                                </div>
                            </div>
                            <div class="b-page">
                            {$page}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <include file="Home@Public/footer"/>
    </div>
    <include file="Home@Public/menu"/>
</div>

</body>

</html>